<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 text-center text-md-left">
                <img src="static/img/Logo Tradicom2.png" alt="Logo" class="img-fluid" style="max-width: 200px; margin-left: 30px;">
            </div>
            <div class="col-md-5 col-12">
                <p class="font-weight-bold">
                    Tradicom SA es su aliado en la provisión de tecnología avanzada para optimizar procesos en las industrias de Oil & Gas, 
                    refinación, energía y petroquímica. Con más de 30 años de experiencia, colaboramos con líderes mundiales en tecnología 
                    para asegurar eficiencia, fiabilidad y soluciones personalizadas que mejoran la producción de nuestros clientes.
                </p>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-unstyled text-center text-md-left">
                    <li><a href="#inicio" class="font-weight-bold text-dark">Inicio</a></li>
                    <li><a href="#nosotros" class="font-weight-bold text-dark">Quienes Somos</a></li>
                    <li><a href="#presentacion" class="font-weight-bold text-dark">Presentacion</a></li>
                    <li><a href="#galeria" class="font-weight-bold text-dark">Clientes</a></li>
                    <li><a href="#serv" class="font-weight-bold text-dark">Productos y Servicios</a></li>
                    <li><a href="#PSA" class="font-weight-bold text-dark">Pressure Swing Adsorption (PSA)</a></li>
                    <li><a href="#TSA" class="font-weight-bold text-dark">Temperature Swing Adsorption (TSA)</a></li>
                    <li><a href="#contacto" class="font-weight-bold text-dark">Contacto</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="col-12 text-center mt-4">
                  <p><b>Puedes encontrarnos en:</b></p>
                  <a class ="icon" href="https://www.linkedin.com" target="_blank"><i class="icon-linkedin-squared"></i></a>
                  <a class ="icon" href="https://www.twitter.com" target="_blank"><i class="icon-twitter"></i></a>
                  <a class ="icon" href="https://www.youtube.com" target="_blank"><i class="icon-youtube"></i></a>
                  <a class ="icon" href="https://www.facebook.com" target="_blank"><i class="icon-facebook-squared"></i></a>
                  <br> 
                  <br> 
                  <p class="linea-footer2">Diseño y Desarrollo Lic. Eduardo J. Moreno</p>
                    <p><b>&copy; 2024 - Todos los Derechos Reservados</b></p>
                </div>
            </div>
        </div>
    </div>
</footer>