<div id="galeria" class="container">
    <div class="row jf_section_1 d-flex align-items-stretch">
        <div class="col-md-6">
            <br>
            
            <h3><b>Clientes</b></h3>
            <p><i><b>Nuestros principales clientes</b></i></p>
            <hr class="jf_cont_sec_1_link hr">
            <p class="justificado">En el mundo empresarial actual, la oferta de productos y servicios de calidad es solo una parte del éxito. 
                La verdadera diferenciación radica en la capacidad de construir relaciones sólidas y duraderas con nuestros clientes. 
                La asociatividad es fundamental para fomentar un ambiente de confianza y colaboración, lo que se traduce en beneficios mutuos.   
                La asociatividad con nuestros clientes es un pilar fundamental para el crecimiento y sostenibilidad de cualquier negocio. 
                Al enfocarnos en ofrecer productos y servicios de calidad, adaptándonos a sus necesidades y fomentando una relación de colaboración,
                no solo mejoramos nuestra propuesta de valor, sino que también cimentamos el camino hacia el éxito compartido.          
            </p>
        </div>
        <div class="col-md-6 text-center jf_cont_sec_2_link">
            <img src="/static/img/clientes.jpg" alt="" class="img-fluid custom-img">
        </div>
    </div>
</div>