<!DOCTYPE html>
<html lang="es">
	<head>
		{% include 'head.html' %}
	</head>
	
<body>
	<header>
		{% include 'navbar.html' %}
	</header>
		<section>
			{% include 'inicio.html' %}	
	    </section>
	  
		<section class = "color_section">
			{% include 'nosotros.html' %}	
		</section>


		<section class = "color_section">
			{% include 'presentacion.html' %}	
		</section>

		<section class = "color_section">
			{% include 'galeria.html' %}
		</section>


		<section class = "color_section">
			{% include 'servicios.html' %}
		</section>



		<section class="color_section" id="PSA">
			{% include 'psa.html' %}
		</section>



		<section class="color_section" id="TSA">
			{% include 'tsa.html' %}
		</section>
		
		
		
		<section class="color_section" id="contacto">
			{% include 'contacto.html' %}
						
	   </section>



	<section>
		{% include 'footer.html' %}
	</section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>	
  <script src="/static/js/index.js"></script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
</body>

</html>
 
