<div id="inicio" class="container common-class container1 col">
    <div>
        <div class="row jf_section_1">
            <div class="col-lg-9 col-md-8 col-sm-12 px-0"> 
                <br>
                <br>
                <br>
                <h1>Industria del Petroleo y Gas</h1>
                    <p class="linea-footer justificado"><b>
                        La industria del petróleo y el gas es una de las mayores del mundo y contribuye significativamente 
                        a la economía mundial. Este vasto sector se divide a menudo en tres sectores principales: upstream,
                        midstream y downstor industria, Tradicom S.A. se presenta como un player al servicio de nuestros clientes
                        atendiendo sus requerimientos, provision de equipamiento, repuestos y servicios de alta calidad para la industria.
                        Continúa siendo un motor vital para la economía global. A medida que el mundo avanza hacia una transición energética, 
                        la capacidad de esta industria para adaptarse y liderar el camino hacia prácticas más sostenibles será clave para su relevancia futura.</b></p>
            </div>
            <div class="jf_cont_img col-lg-3 col-md-4 col-sm-12">
            
            </div>
        </div>
    </div>
</div>