<div id="inicio" class="common-class container1">
    <div>
        <div class="row jf_section_1">
            <div class="col-12 px-0"> 
                <br>
                <br>
                <br>
                <h1>Industria del Petroleo y Gas</h1>
                <p class="linea-footer justificado"><b>
                    En Tradicom S.A., nos dedicamos a proporcionar soluciones innovadoras y de alta calidad para la industria del petróleo y gas, 
                    abordando las necesidades de nuestros clientes con un enfoque integral que abarca la de brindar servicios en bombas y filtros .
                    Con más de 30 años de experiencia, somos un socio estratégico confiable en todas las etapas del ciclo de vida del petróleo y el gas.
                    Nuestra misión es ofrecer resultados excepcionales a través de la eficiencia operativa, la tecnología de punta y un compromiso inquebrantable 
                    con la seguridad, la sostenibilidad y el respeto por el medio ambiente.
                </b></p>
            </div>
            <div class="jf_cont_img col-12">
            
            </div>
        </div>
    </div>
</div>