<div id="nosotros" class="container">
    <div class="row jf_section_1 d-flex align-items-stretch">
        <div class="col-md-6">
            <br>
            <h3><b>Quienes somos</b></h3>
            <p><i><b>Provisión y Servicios</b></i></p>
            <hr class="jf_cont_sec_1_link hr">
            <p class="justificado">En Tradicom SA, somos especialistas en la optimización de procesos por medio de la implementación
                de tecnología de primera línea para la industria energética. Desde nuestra fundación en 1994,
                hemos crecido para ofrecer productos y servicios en Argentina, Bolivia, Colombia, Uruguay, 
                y Estados Unidos, nos especializamos en la provisión de motores y compresores, sistemas de filtración 
                y separación y de los servicios asociados. Nuestra misión es mejorar la productividad de nuestros clientes 
                a través de la innovación constante y el soporte técnico especializado.
            </p>
        </div>
        <div class="col-md-6 text-center jf_cont_sec_2_link">
            <img src="/static/img/bomba-section2.PNG" alt="" class="img-fluid alto">
        </div>
    </div>
</div>