<div id="presentacion" class="container">
    <div class="row jf_section_1 d-flex align-items-stretch">
        <div class="col-md-6">
            <br>
            
            <h3><b>Presentacion</b></h3>
            <p><i><b>Especialistas en optimización de Procesos</b></i></p>
            <hr class="jf_cont_sec_1_link hr">
            <p class="justificado">Tradicom SA es su aliado en la provisión de tecnología avanzada para optimizar procesos en las industrias de Oil & Gas, 
                refinación, energía y petroquímica. Con más de 30 años de experiencia, colaboramos con líderes mundiales en tecnología 
                para asegurar eficiencia, fiabilidad y soluciones personalizadas que mejoran la producción de nuestros clientes.             
            </p>
        </div>
        <div class="col-md-6 text-center jf_cont_sec_2_link">
            <img src="/static/img/oil-and-gas_detection-control_productcard.jfif" alt="" class="img-fluid">
        </div>
    </div>
</div>