<div class="video-container bordered-section">
    <video id="marketing-video" src="/static/img/psa.mp4" autoplay loop muted></video>
    <div class="overlay-text">
        <h2 class="title">Pressure Swing Adsorption (PSA)</h2>
        <p class="description">Adsorción por cambio de presión</p>
        <hr class="jf_cont_sec_1_link.hr">
        <p>En Tradicom S.A., nos especializamos en esta tecnica, ampliamente utilizada para la separación 
            y purificación de gases. principalmente para la producción de gases puros como el hidrógeno, el oxígeno y el nitrógeno.
            Se basa en las diferentes propiedades de adsorción de los gases bajo condiciones de presión variables.</p>
        <p><strong>Ventajas:</p>
        <ul>
            <li>Eficiencia: Los sistemas PSA pueden ser más eficientes en términos de energía en comparación con los métodos tradicionales de destilación.</li>
            <li>Diseño Compacto: A menudo requieren menos espacio y tienen costos de capital más bajos.</li>
            <li>Flexibilidad: La PSA se puede adaptar a varias mezclas de gases y es efectiva tanto para operaciones pequeñas como grandes.</li>
        </ul>
    </div>
</div>