<div id="serv" class="container col">
    <div class="row jf_section_1 d-flex align-items-stretch">
            <div class="col-md-6 service-container">
                <h3><b>Productos y Servicios</b></h3>
                <p><b>Motores y Compresores. ...
                        Sistemas de Filtración y Separación  ...
                        Plantas y Tecnología de Absorción  ...
                        Membranas y Filtración Especializada ...</b></p>
                <hr class="jf_cont_sec_1_link hr">
                <p class="justificado">Ofrecemos motores y compresores de alta calidad, diseñados para soportar las condiciones más exigentes de la industria. 
                    Estos productos están enfocados en la eficiencia energética y la durabilidad a largo plazo. Somos representantes para Argentina
                    de Cooper Machinery & Service.
                    Proveemos soluciones innovadoras como Pressure Swing Adsorption (PSA) y Temperature Swing Adsorption (TSA) para la recuperación y purificación de gases como hidrógeno, 
                    helio, oxígeno, y nitrógeno. También contamos con plantas híbridas que combinan tecnologías para maximizar la eficiencia en el proceso de captura de carbono.
                    Somos líderes en la provisión de membranas de separación para aplicaciones industriales, incluyendo el tratamiento de gases y líquidos en diversas industrias.
                </p>
                <a href="https://www.linkedin.com" target="_blank"><i class="icon-linkedin-squared"></i></a>
                <a href="https://www.x.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="icon-youtube"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="icon-facebook-squared"></i></a>
            </div>
            <div class="col-md-6 text-center jf_cont_sec_2_link">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/GCaZ0kVsY0Y" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen width="500" height="430"></iframe>
            </div>
    </div>
</div>