<div class="video-container bordered-section">
    <video id="marketing-video2" src="/static/img/TSA.mp4" autoplay loop muted></video>
    <div class="overlay-text">
        <h2 class="title">Temperature Swing Adsorption (TSA)</h2>
        <p class="description">Adsorción por cambio de temperatura</p>
        <hr class="jf_cont_sec_1_link.hr">
        <p>Acorde a las necesidades de nuestros clientes, es un proceso utilizado para separar y purificar gases, 
           en el que se aprovechan las propiedades de adsorción de materiales, generalmente sólidos porosos, que son 
           capaces de retener moléculas de gas en su superficie.</p>
        <p><strong>Ventajas:</p>
        <ul>
            <li>Eficiencia energética: Aunque el proceso requiere cambios de temperatura, puede ser más eficiente energéticamente en comparación con otros métodos de separación.</li>
            <li>Selección de gases: Permite la separación selectiva de diferentes componentes de una mezcla gaseosa, lo que es útil en la purificación de gases industriales.</li>
            <li>Menor generación de residuos: Al usar un material adsorbente regenerable, se reduce la generación de residuos en comparación con otros métodos que consumen reactivos.</li>
        </ul>
    </div>
</div>